<h1>
  {{title}}
</h1>
<ul class="nav nav-tabs">
      <li><a routerLink="/todo" routerLinkActive="active" class="nav nav-tabs">Todo</a></li>
      <li><a routerLink="/template"> Template Form Driven</a></li>
      <li><a routerLink="/model"> Model Form Driven</a></li>
      <li><a routerLink="/searchFilter">Auto Search</a></li>
      <li><a routerLink="/localService">Local Service Call</a></li>
      <li><a routerLink="/consumeremoteComponent">Remote Service Call</a></li>
      <li><a routerLink="/basicannimationComponent">Annimation</a></li>
      <li><a routerLink="/parent">Event Binding</a></li>
      <li><a routerLink="/nuclear">Family</a></li>
      <li><a routerLink="/directive">Directive</a></li>
      <li><a routerLink="/customdirective">Custom Directive</a></li>
</ul>
<router-outlet></router-outlet>